*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation-line {
    display: flex;
}


.nav-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18acb5;
    color: white;
    font-size: 0.7em
}

.nav-line{
    display: flex;
    flex-direction: column;
    width: 4px;
    height: 30px;
    background-color: #18acb5;
    position: relative;
    left:8px;
}

.list-line {
    margin-left: 5px;
    margin-bottom: 32px;
}



/* LEFT IS HALF OF .nav-circle width less half of the width.nav-line
(.nav-circle width / 2) - (.nav-line width / 2) */