.text-box {
    position: relative;
    margin-top: 3em;
    margin-left: 6em;
}

.input {
    height: 80px;
    width: 600px;
    background-color: 'yellow';
    outline: 0;
    border: 1px #88878b;
    border-radius: 5px;
    text-indent: 20px;
}

/* top = (.input height/2) - (.placeholder font-size/2) */

.placeholder {
    position: absolute;
    pointer-events: none;   
}


