<app-circle-selector></app-circle-selector>
<app-circle-selector
    [title]="title" 
    [numberList]="[1,2,3,6,12,24]" 
    [highlightedBackground]="highlightedBackground"
    [highlightedColor]="'black'"
    [defaultBackground]="defaultBackground"
    [defaultColor]="defaultColor"
    [defaultValue]="1" 
    [circleStyle]="circleStyle"
    [titleStyle]="titleStyle"
></app-circle-selector>
<app-circle-selector
    [title]="'Probando el titulo'" 
    [numberList]="['A','B','C','D']" 
    [highlightedBackground]="highlightedBackground1"
    [highlightedColor]="highlightedColor1"
    [defaultBackground]="defaultBackground1"
    [defaultColor]="defaultColor1"
    [defaultValue]="'C'" 
    [circleStyle]="circleStyle1"
    [titleStyle]="titleStyle1"
>
</app-circle-selector>

<hr>

<div class="nav-lists">
    <app-navigation-line></app-navigation-line>
    <app-navigation-line
        [elemList]="['1','2','3','4','5','6']"
        [symbol]="symbol"
        [size]="size"
        [lineHeight]='lineHeight'
        [lineWidth]='lineWidth'
        [defaultValue]="defaultValue"
        [highlightedBGColor]="highlightedBGColor"
        [defaultBGcolor]="defaultBGcolor"
        [defaultListColor]="defaultListColor"
        [completeColor]="completeColor"
        [lineStyle]="lineStyle2"
        [circleStyle]="circleStyle2"
        [listStyle]="listStyle2"
    >
    </app-navigation-line>
</div>
