*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-lists {
    display: flex;
}
.main{
    display: flex;
    font-family: Arial;
    font-weight: bold;
}

.mainspace{
    position: absolute;
    margin-top: 200px;
}

.sidemenu{
    width: fit-content;
    margin: 20px;
}

li {
    margin: 1em;
    padding: 0.5em;
    list-style: none;
    cursor: pointer;
}

li > a {
    width: fit-content;
    height: fit-content;
}

.menu-list > li:hover{
    opacity: 0.7;
    color: black;
    border-radius: 2px;
}

.mainwrap {
    position: relative;
    left: 600px;
}